<aside class="menu">
	<p class="menu-label">Table Of Contents</p>
		<ul class="menu-list">
		{{ $currentPage := . }}
		{{ range .Site.Menus.main }} 
			{{ $text := .Name | safeHTML }}
			{{ $isActive := (or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .)) }}
			{{ if .HasChildren }}
				<li><a href="{{ .Permalink }}">{{ $text }}</a></li>
				<li>
					<ul class="menu-list">
						{{ range .Children }}
							{{ $isActive := (or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .)) }}
							<li><a class="{{ if $isActive }}is-active{{ end }}" href="{{ .Permalink }}">{{ .Name | safeHTML }}</a></li>
							{{ end }}
					</ul>
				</li>	
			{{ else }}
				<a class="{{ if $isActive }}is-active{{ end }}" href="{{ .Permalink }}">{{ $text }}</a>
			{{ end }}
		{{ end }}
	</ul>
</aside>