<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{ .Title }}</title>

{{ template "_internal/google_analytics_async.html" . }}

{{ if .IsTranslated }}
	{{ range .Translations }}
		<link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
	{{ end }}
{{ end }}

{{ $bulma := resources.Get "bulma/bulma.sass" }}
{{ $mixins := resources.Get "sass/mixins.sass" }}
{{ $customVars := resources.Get "sass/before-bulma.sass" }}
{{ $personalStyle := resources.Get "sass/after-bulma.sass" }}
{{ $scssSlice := slice $customVars $bulma $personalStyle }}
{{ $scss := slice $mixins $customVars $bulma $personalStyle | resources.Concat "sass/main.sass" }}

{{ $options := (dict "outputStyle" "compressed" "includePaths" (slice "assets/bulma" "assets/bulma/sass" )) }}
{{ $style := $scss | resources.ToCSS $options }}

<link href="{{ $style.Permalink }}" rel="stylesheet" media="screen"/>
